/LiveMatch/nbproject/private/
/LiveMatch/build/
/LiveMatch/dist/
/KarmaLiveMatch/target/
/JavaFXApplication/nbproject/private/
/JavaFXApplication/build/
/JavaFXApplication/dist/
/JavaFXApplication2/nbproject/private/